html, body {
	background: #7cad3e;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-weight: 300;
}

/* Panes are like Material Design Cards */
.pane {
	background: white;
	color: black;
	box-shadow: 10px 10px 5px #777;
	margin-top: 15px;
	padding: 10px;
}

.tab-pane {
	margin-top:10px;
}

.chart-block {
	height: 300px;
	width: 100%;
}

/*#data-container {
	height: 1000px;
}*/
